{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [chat_server_challenge]}
]}.

{relx, [{release, {chat_server_challenge, "1.0"},
    [chat_server_challenge]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]
}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
        {include_erts, true}]}
    ]}
]}.

